# Frontend requirements
streamlit>=1.27.2
streamlit-authenticator>=0.2.3
streamlit-autorefresh>=1.0.1
streamlit-calendar>=1.1.0
streamlit-antd-components>=0.2.3
pandas>=2.1.1
hijri-converter>=2.3.1
python-dotenv>=1.0.0
PyYAML>=6.0.1
zoneinfo>=0.2.1;python_version<"3.9"
requests>=2.31.0  # For HTTP client to backend 